%div
  %h1 Fib!
  %input(name="fib-max" type="number" value="45")
  %table
    %tr(name="js-fib")
      %td
        %button(name="js-fib-button" type="button") With JS
      %td(name="js-fib-value" style="font-weight: bold;")
      %td(name="js-fib-time")
    %tr.wasm-fib
      %td
        %button(name="wasm-fib-button" type="button") With WASM
      %td(name="wasm-fib-value" style="font-weight: bold;")
      %td(name="wasm-fib-time")
%script(type="text/javascript" src="#{Yubot.Asset.url(~S(dist/fib.js))}")
:javascript
  registerHandler('js', fib_to)
  loadWasmAndRegister('#{Yubot.Asset.url("dist/fib.wasm")}')
