@import "compass";

@mixin border($color:#333) {
  border: $color solid 1px;
}

@mixin border-b($color:#333,$type:'bottom') {
  border-#{$type}: $color solid 1px;
}

@mixin calc ($prop, $expr) {
    $prefixes: webkit, moz;
    @each $prefix in $prefixes {
        #{ $prop }: -#{ $prefix }-calc(#{ $expr });
    }
    #{ $prop }: calc(#{ $expr });
}

@mixin displayFlex {
  display: -webkit-flex;
  display: flex;
}

@mixin webkitSet($name, $val) {
  $set-prefix: '' , -webkit-;
  @each $prefix in $set-prefix {
    #{$prefix}#{$name}: $val;
  }
}

@mixin prefixSet($name, $val) {
  $set-prefix: '' , -webkit- , -moz- , -o-;
  @each $prefix in $set-prefix {
    #{$prefix}#{$name}: $val;
  }
}
