@charset "utf-8";

@import 'mixin';
@import 'default';

html,body{
  height: 100%;
  overflow: hidden;
}

.container-fluid{
  position:relative;
  padding: 0;
  height: 100%;
  min-height: 100%;

  .sidebar {
     float: left;
      width: $side_width;
      height: 100%;
      min-height: 100%;
      background-color: $side_black;
    position: relative;
    .logo{
      width: 100%;
      height: $head_height;
      padding: 16px;
      background: $black url('#{$imgDir}ac_logo.png') 16px 16px no-repeat;
      background-size: 188px auto;
    }

    .leftmenu{
      position: absolute;
      top:$head_height;
      bottom: 0;
      left: 0;
      width: $side_width;
      overflow-y: auto;
      margin-bottom: 57px;
    }

    .menuttl{
      padding: 16px 16px 16px 40px;
      color: $white;
      background: url('#{$imgDir}icon_app.png') 16px center no-repeat;
      background-size: 20px auto;
      @include border-b($black);
    }

    .favorite-app{
      padding:8px 8px 0 8px;

      li{
        margin-bottom: 8px;
        a,.active{
          display: block;
          padding: 6px 8px 6px 32px;
          background: url('#{$imgDir}icon_star.png') 8px 4px no-repeat;
          background-size: 20px auto;
          border:0;
          text-align:left;
          color:$silvergray;
          text-decoration: none;
          font-size: 12px;
          @include ellipsis;
          @include border-radius(5px);
        }
        a:hover{
          background-color: $favorite_app_hover;
        }
        .active{
          background-color: $favorite_app_active;
        }
      }
    }

    .account{
      position:absolute;
      bottom: 0;
      width: $side_width;
      padding: 16px;
      background-color: $black;
      cursor: pointer;
      @include prefixSet(user-select,none);

      .name{
        float: left;
        width: 88%;
        padding: 4px 4px 4px 24px;
        background: url('#{$imgDir}icon_account.png') 0 center no-repeat;
        background-size: 20px;
        color:$white;
        font-size: 12px;
        @include ellipsis;
      }

      .accountbtn{
        float: right;
        width: 12%;
        height: 25px;
        background: url('#{$imgDir}arrow_account.png') right center no-repeat;
        background-size: 20px;
      }

      &:hover .accountbtn{
        background-image: url("#{$imgDir}arrow_account_hover.png");
      }
    }

    .accounthover{
      position: absolute;
      display: none;
      left: 8px;
      bottom: 56px;
      width: $side_width - 16px;
      font-size: 12px;
      z-index: 999;

      ul{
        overflow: hidden;
        background-color: $white;
        @include border-radius(5px);
      }

      li{
        @include border-b($gray);
        &:last-child{
          border:0;
        }
      }

      a{
        display: block;
        padding: 12px 38px;
        color: $black;
        &:hover{
          background-color: $lightgray ;
          text-decoration: none;
        }
      }

      .accountsetting{
        background: url("#{$imgDir}account_setting.png") 10px center no-repeat;
        background-size: 20px;
      }

      .accountlogout{
        background: url("#{$imgDir}account_logout.png") 10px center no-repeat;
        background-size: 20px;
      }

      &:before{
        content: "";
        position: absolute;
        bottom: -16px;
        right: 10px;
        border: 8px solid transparent;
        border-top: 8px solid $white;
      }
    }
  }
  .content {
    height: 100%;
    min-height: 100%;
    background-color: $lightgray ;
    overflow: auto;

    .main-header{
      width: 100%;
      height: $head_height;
      padding: 0 16px;
      background-color: $white;

      @include displayFlex;
      @include webkitSet(justify-content, space-between);
      @include webkitSet(align-items, center);
      @include border-b($silvergray);
      .main-ttl{
        font-size: 16px;
        text-align: center;
      }

      .search{
        position: relative;
        @include webkitSet(flex-basis, $search_width);
        margin: 0;

        .search-input{
          width: $search_width;
          height: 28px;
          padding: 0px 10px;
          border: 0;
          @include border-radius(14px);
          background-color: $search_gray;
          color: $dimgray;
        }

        .search-btn{
          position: absolute;
          top:0px;
          right:3px;
          width: 28px;
          height: 28px;
          background: url("#{$imgDir}icon_search.png") center center no-repeat;
          background-size: 13px;
        }
      }

      .headerbtnArea{
        @include webkitSet(flex-basis, $search_width);
        .menubtn{
          display: none;
        }
        .back{
          padding: 5px 5px 5px 22px;
          background: url("#{$imgDir}icon_header_back.png") 1px center no-repeat;
          background-size: 25px;
          color:$dimgray;
        }
      }
      .headerdummyArea {
        display: none;
      }

      .headerrightArea{
        @include webkitSet(flex-basis, $search_width);
      }
    }

    .maincontent{
      @include calc(min-height, "100% - 100px");
    }

    .newbtn{
      padding: 16px;
      background-color: $white;
      @include box-shadow(0px 0px 3px $newbtn_shadow);
    }

    .contentArea{
      padding: 16px;
    }

    .appbox{
      padding: 0 16px;
      @include border($gray);
      @include border-radius(5px);
      background-color: $white;

      .applist{
        padding: 16px 0;
        @include displayFlex;
        @include webkitSet(justify-content, space-between);
        @include webkitSet(align-items, stretch);
        @include border-b($silvergray);

        &:last-child{
          border:0;
        }

        .appname{
          @include webkitSet(flex, 1.2);
          padding: 6px 8px 6px 8px;
          margin-right: 16px;
          text-align: left;
          color:$black;

          .appnamestar{
            float: left;
            width: 20px;
            height: 20px;
            margin-right: 5px;
            cursor: pointer;
            background: url('#{$imgDir}icon_star.png') 0 0 no-repeat;
            background-size: 20px auto;

            &.nofavorite{
              background-image: url('#{$imgDir}icon_star_off.png');
            }
          }
          &:hover{
            background-color: $app_list_hover;
            @include border-radius(5px);
          }
        }

        .rootkey{
          padding-left: 16px;
          @include webkitSet(flex, 1);
          @include displayFlex;
          @include webkitSet(align-items, center);
          @include border-b($silvergray ,'left');
        }

        .appkey{
          @extend .rootkey;
        }

        .keyname{
          width: 70px;
        }

        .keynum{
          @include inline-block;
          width: 100px;
          padding: 5px 8px;
          background-color: $app_list_hover;
          font-size: 12px;
          @include border($gray);
          @include border-radius(5px);
        }

        .delbtn{
          @include webkitSet(flex-basis, 30px);
          @include webkitSet(align-self, flex-end);
          width: 30px;
          height: 30px;
          background: url('#{$imgDir}icon_del.png') center center no-repeat;
          background-size: 18px;
          &:hover{
            @include border($gray);
            background-color: $app_list_hover;
          }
        }
      }
      .newapptxt{
        padding: 32px 0;
        @include border-b($silvergray);
        text-align: center;
      }

      .btnarea{
        padding: 48px 0;
        text-align: center;
      }
    }

    .appdetail{
      background-color: $white;
      @include border($gray);
    }

    footer{
      height: 40px;
      padding-top: 10px;
      text-align: center;
      font-size: 12px;
      color:$footer_color;
    }
  }
}

.modal-dialog-center {
  padding-top: 10%;
}

.modalappcreate {
  margin:36px 0;
  @include displayFlex;
  @include webkitSet(justify-content, space-between);
  @include webkitSet(align-items, center);
  .appcreateleft{
    @include webkitSet(flex, 1);
  }
  .appcreateright{
    @include webkitSet(flex, 2);
  }
}

.modal-footer{
  text-align: center;
}


@media only screen and (max-width: #{$respon_L}){
  .container-fluid{
    .content {
      position: absolute;
      width: 100%;

      .main-header{
        padding: 0;
        @include webkitSet(flex-wrap, nowrap);
        .main-ttl{
          font-size: 14px;
          @include webkitSet(flex-basis, 70%);
        }

        .search{
          position: absolute;
          right: 16px;
          top:78px;
          width: 115px;

          .search-input{
            width: 115px;
          }
        }

        .headerbtnArea{
          @include displayFlex;
          @include webkitSet(align-items, center);
          @include webkitSet(flex-basis, 30%);
          .menubtn{
            display: block;
            height: 59px;
            width: 59px;
            border:0;
            @include border-b($silvergray,right);
            @include border-radius(0);
            background: url('#{$imgDir}icon_header_menu.png') center center no-repeat;
            background-size: 25px;
          }
        }
        .headerdummyArea {
          display: block;
          @include webkitSet(flex-basis, 30%);
        }
        .headerrightArea{
          @include webkitSet(flex-basis, 30%);
        }
      }

      .contentArea{
      }

      .appbox{
        .applist{
          padding-top: 8px;
          @include webkitSet(flex-wrap, wrap);
          &:first-child{
            padding-top: 16px;
          }
          .appname{
            margin: 0;
            padding-left: 8px;
            @include webkitSet(flex-basis, 100%);

          }

          .rootkey{
            padding: 8px 0 0 8px;
            border: 0;
            @include webkitSet(flex-basis, 190px);
          }
          .delbtn{
            margin: 8px 0 0 auto;
          }
        }
      }
    }
  }

  .modalappcreate {
    @include webkitSet(flex-wrap, wrap);
    margin: 16px;
    .appcreateleft{
      @include webkitSet(flex-basis, 100%);
      margin-bottom: 8px;
    }
    .appcreateright{
      @include webkitSet(flex-basis, 100%);
    }
  }

}


@media only screen and (max-width: #{$respon_M}){
  .container-fluid{
    .content {
      position: absolute;
      width: 100%;

      .main-header{

        .headerbtnArea{
          @include webkitSet(flex-basis, 38%);
          .back{
            padding: 15px 12px;

            span{
              display: none;;
            }
          }
        }
        .headerrightArea{
          @include webkitSet(flex-basis, 38%);
        }
        .headerdummyArea {
          @include webkitSet(flex-basis, 38%);
        }
      }
    }
  }
}
