!!! 5
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %meta(content="" name="keywords")
    %meta(content="" name="description")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(http-equiv="X-UA-Compatible" content="E=edge")

    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    %script(src="static/js/app.js")
    %link(href="static/css/style.css" media="all" rel="stylesheet")

    %title= gear_name
  %body
    = yield
